@font-face {
    font-family: 'oskari';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/OskariG2Regular.otf');
}

@font-face {
    font-family: 'oskari';
    font-style: medium;
    font-weight: 500;
    src: url('./fonts/OskariG2Medium.otf');
}

@font-face {
    font-family: 'oskari';
    font-style: bold;
    font-weight: 700;
    src: url('./fonts/OskariG2Bold.otf');
}